<%- include('../includes/head') %>
  <style>
    img {
      width: 300px;
    }
  </style>
</head>
<body>
  <%- include('../includes/navigation') %>
  <hr>
  
  <h2>Product list...</h2>
  <% if(products.length > 0) { %>
    <ul>
      <% products.forEach(prod => { %>
        <h2><%= prod.title %></h2>
        <img src="<%= prod.imageUrl %>" alt="<%= prod.title %>">
        <h3>R$<%= prod.price %></h3>
        <p><strong>Description:</strong> <%= prod.description %></p>
        <% if(isAuthenticated){ %>
          <form action="/add-to-cart" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" value="<%= prod.id %>" name="prodId">
            <button type="submit">Add to Cart</button>
          </form>
        <% } %>
        <hr>
      <% }) %>
    </ul>
  <% }
  else { %>
    <h3>No products added</h3>
  <% } %>
</body>
</html>